snippet slide
	<div id="${1}" class="slide${2}"><div>
	<section>
		<header>
		<h2>${3:title}</h2>
		</header>
		${0}
		<footer class="notes">
		</footer>
	</section>
	</div></div>

snippet viewport
	<meta name='viewport' content='initial-scale=1'>

snippet testcase
	<!doctype html>
	<html>
		<head>
			<meta charset='utf-8'>
			<meta name='viewport' content='initial-scale=1'>
		</head>
		<body>
		</body>
	</html>
