Host *
   ControlMaster auto
   ControlPath ~/.ssh/master-%r@%h:%p

Host hg.mozilla.org
  User jwajsberg@mozilla.com
  IdentityFile ~/.ssh/mozilla

Host reviewboard-hg.mozilla.org
  User jwajsberg@mozilla.com
  IdentityFile ~/.ssh/mozilla

Host people
  User jwajsberg
  IdentityFile ~/.ssh/mozilla
  Hostname people-mozilla.org

Host cal
  User ubuntu
  Hostname calendar.knilxof.org
  IdentityFile ~/.ssh/aws

Host petitevallee.everlong.org
  User admin
  IdentityFile ~/.ssh/petitevallee
