Host *
   ControlMaster auto
   ControlPath ~/.ssh/master-%r@%h:%p
   IdentityFile ~/.ssh/yubi

Host hg.mozilla.org
  User jwajsberg@mozilla.com

Host petitevallee.everlong.org
  User admin
  ForwardAgent yes

Host github.com
  ControlPersist 3600
