Host *
   ControlMaster auto
   ControlPath ~/.ssh/master-%r@%h:%p

Host hg.mozilla.org
  User jwajsberg@mozilla.com

Host people.mozilla.org
  User jwajsberg

Host cal
  User ubuntu
  Hostname calendar.knilxof.org
  IdentityFile ~/.ssh/aws

